<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BEP</title>
<link rel="stylesheet" href="/css/index.css"/>
<script src="/lib/js/jquery-3.6.1.min.js"></script>
<script src="/js/user/loginCtrl.js"></script>
</head>
<body onload="loginCtrl.init();">
<form action="login" method="post">
<table class="standard_tbl">
	<tr>
		<td colspan="2">로그인</td>
	</tr>
	<tr>
		<td>아이디</td>
		<td><input type="text" name="id" id="id" class="standard_text"/></td>
	</tr>
	<tr>
		<td>비밀번호</td>
		<td><input type="password" name="password" id="password" class="standard_text"/></td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="submit" class="standard_button" value="로그인"/>
			<input type="button" class="standard_button" value="회원가입" onclick="loginCtrl.moveSignUp();"/>
		</td>
	</tr>
</table>
</form>
</body>
</html>