<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BEP</title>
</head>
<body>
<form action="login" method="post">
<table class="standard_tbl">
	<tr>
		<td colspan="2">로그인</td>
	</tr>
	<tr>
		<td>ID</td>
		<td><input type="text" name="id" id="id" class="standard_text"/></td>
	</tr>
	<tr>
		<td>Password</td>
		<td><input type="password" name="password" id="password" class="standard_text"/></td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" value="로그인"/></td>
	</tr>
</table>
</form>
</body>
</html>